// Primary colors//

$white: #F5F4F0;
$peach: #F2C1AD;
$button-peach: #FBA07B;

//Secondary colors//

$blue: #B3D8D1;
$green: #DFE8D8;
$beige: #E3BFA6;
$pink: #ECB6C9;
$dark-peach: #ED723F;

//Animation//

$shake: shake 3s ease-in-out;
$sparkle: sparkle 4s ease-in-out;
$jump: jump 3s ease-in-out;