@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.footer {
    background-color: $peach;
    padding: 2rem 8rem;
    @include flex(center, center);
    gap: 6rem;
    &__icon {
        height: 2rem;
    }
}