@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.products {
    padding-inline: 8rem;
    padding-block: 2rem;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    border-radius: 5px;
    height: 32.25rem;
    @include flex (space-between, center);
    padding: 1rem 6rem;
    &__title {
        margin-top: 0;
    }
    &__description {
        width: 27rem;
    }
    &__icons {
        width: 30%;
        @include flex (flex-start);
        gap: 2rem;
    }
   
}

.green {
    background-color: $green;
}
.pink {
    background-color: $pink;
}
.beige {
    background-color: $beige;
}
.blue {
    background-color: $blue;
}

.hidden {
    display: none;
}
