@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.products {
    padding: 1rem 8rem 6rem 8rem;
}

.product-card {
    border-radius: 5px;
    @include flex (space-between, center);
    padding: 1rem 4rem;
    &__title {
        margin-top: 0;
    }
    &__description {
        width: 27rem;
    }
    &__icons {
        width: 30%;
        @include flex (space-between);
    }
}

.green {
    background-color: $green;
}
.pink {
    background-color: $pink;
}
.beige {
    background-color: $beige;
}
.blue {
    background-color: $blue;
}
